.Timeline {
  top: 10px;
  left: 25px;
  position: absolute;
  z-index: 1;
}

.Timeline-dot {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 2px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  opacity: .2;
  transition: all .25s;
}

.Timeline-dot:hover {
  background: blueviolet;
  opacity: 1;
}

.Timeline-dot.is-selected {
  background: orange;
  box-shadow: 0 0 1px 1px black;
  opacity: 1;
}

.Timeline-hint {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);

}

.Timeline-hintTab {
  display: inline-block;
  background: blueviolet;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
  white-space: nowrap;
}